---
title: Home
---

video src="/assets/trailer.mov" poster="/assets/images/poster.png" controls="controls"

h2 Play the game!

p: markdown: You can download binaries for Linux, macOS, and Windows from our itch.io page!

p
  a.button href="//blinry.itch.io/oh-my-git" Download the game!

h2 How can I get help? How can I contribute?

p: markdown: We use GitHub for all forms of discussion. You can find a lot of information in the project's [README](//github.com/git-learning-game/oh-my-git). If you find bugs, need help, or have any suggestions, please [create a new issue](//github.com/git-learning-game/oh-my-git/issues/new) in the issue tracker! Thanks!

p
  a.button href="//github.com/git-learning-game/oh-my-git/issues/new" Get help!

h2 How can I keep in touch?

p: markdown: Follow us on Twitter at [@bleeptrack](//twitter.com/bleeptrack) and [@blinry](//twitter.com/blinry)! We're also on Mastodon, if that's your thing! [@bleeptrack@chaos.social](//chaos.social/@bleeptrack) and [@blinry@chaos.social](//chaos.social/@blinry)

p Alternatively, drop us an email at <span><span title="ihate@spam.com</span>">b</span>b</span>&#64;morr<i title="</i>mailto">.</i>cc

h2 Who's behind this?

img.avatar src="/assets/images/bleeptrack.png"
p
    markdown: [**bleeptrack**](//bleeptrack.de) is a generative and AI artist. Her works not only explore generative spaces but also different materials and fabrication methods like CNC milling wood, drawing with pen plotters and generative PCB designs. Her artworks have been presented at several international exhibitions in Shanghai, London or Berlin. She is also a doctoral student at the Institute for Neural Information Processing at Ulm University. In her research, Sabine Wieluch wants to fuse her love for generative art with her interests in Machine Learning.

img.avatar src="/assets/images/blinry.png"
p
    markdown: [**blinry**](//morr.cc) is a computer scientist, programmer, and designer from Germany. They are enthusiastic about free licenses, food, and minimalism, and they value autonomy, creativity, and curiosity. They have attended a scientific workshop on Origami in the Caribbean, backpacked through Japan, is collecting [accidental art](//glitchgallery.org) and is drawing [algorithm assembly instructions](//idea-instructions.com). They love their communities -- Jugend Hackt, the Recurse Center, the Chaos community.

h2 Support development!

p: markdown: Our current funding will run out at the end of February. If you wanna help us put more time into development, you can support us on Patreon – [here](//patreon.com/bleeptrack) and [here](//patreon.com/blinry)!

h2 Supporters

#supporters
    a href="https://www.bmbf.de"
        img src="/assets/images/bmbf.svg"
    a href="https://prototypefund.de"
        img src="/assets/images/prototypefund.svg"
    a href="https://okfn.de"
        img src="/assets/images/okfde.svg"

h2 Wanna read more?

p The game as a dedicated <a href="/press/">press kit</a>, and we've recorded a <a href="/videos/">talk and video devlogs</a>!
