---
title: Videos
---

h2 Talk at FOSDEM 2021

p We gave a <a href="https://fosdem.org/2021/schedule/event/git_learning_game/">15-minute talk</a> at FOSDEM the largest open-source conference in Europe! We talk about our motivations, show how the game works, and answer questions in a Q&A:

video src="https://video.fosdem.org/2021/L.lightningtalks/git_learning_game.webm" controls="controls"

h2 Dev logs

p These show how the game has developed over the months. Published in September/October 2020.

.videowrapper
  iframe width="930" height="523" src="https://www.youtube.com/embed/bXERJIZnaXg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen

br

.videowrapper
  iframe width="930" height="523" src="https://www.youtube.com/embed/w3oEKqKMQOc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen

h2 Trailer

p Showing the game as of February 2021.

video src="/assets/trailer.mov" poster="/assets/images/poster.png" controls="controls"
